@model BokuNoHeroAcademia.Models.AcademiaViewModels.ProfessorCurso

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Nome de Herói</th>
            <th>Data de Contratação</th>
            <th>Cursos que Leciona</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Professores)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["ProfessorID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeHeroi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataContratacao)
                </td>
                <td>
                    @{
                        foreach (var curso in item.CursosAtribuidos)
                        {
                            @curso.Curso.CursoID @:  @curso.Curso.Titulo <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
