@model BokuNoHeroAcademia.Models.Curso

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h4>Apagar Curso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Creditos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Creditos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departamento.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CursoID" />
        <input type="submit" value="Confirmar Apagar" class="btn btn-danger" />
    </form>
</div>

<br />
<div>
    <a asp-action="Index">Voltar</a>
</div>

